<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>.</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string></string>
			<key>spriteSize</key>
			<string>{0,0}</string>
			<key>spriteSourceSize</key>
			<string></string>
			<key>textureRect</key>
			<string>{{0,0},{0,0}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>..</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string></string>
			<key>spriteSize</key>
			<string>{0,0}</string>
			<key>spriteSourceSize</key>
			<string></string>
			<key>textureRect</key>
			<string>{{4,0},{0,0}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>GJ_lite_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{2,-2}</string>
			<key>spriteSize</key>
			<string>{356,120}</string>
			<key>spriteSourceSize</key>
			<string>{360,124}</string>
			<key>textureRect</key>
			<string>{{0,104},{356,120}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>GJ_logo_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-440}</string>
			<key>spriteSize</key>
			<string>{2280,1284}</string>
			<key>spriteSourceSize</key>
			<string>{1716,208}</string>
			<key>textureRect</key>
			<string>{{0,228},{2280,1284}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>GJ_md_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{6,-6}</string>
			<key>spriteSize</key>
			<string>{736,142}</string>
			<key>spriteSourceSize</key>
			<string>{748,154}</string>
			<key>textureRect</key>
			<string>{{2284,228},{736,142}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>RobTopLogoBig_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1,-321}</string>
			<key>spriteSize</key>
			<string>{3076,1600}</string>
			<key>spriteSourceSize</key>
			<string>{592,222}</string>
			<key>textureRect</key>
			<string>{{0,1516},{3076,1600}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>cocos2DxLogo.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{360,96}</string>
			<key>spriteSourceSize</key>
			<string>{360,96}</string>
			<key>textureRect</key>
			<string>{{0,4},{360,96}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>fmodLogo.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{360,96}</string>
			<key>spriteSourceSize</key>
			<string>{360,96}</string>
			<key>textureRect</key>
			<string>{{364,4},{360,96}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>gj_subzeroLogo_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{6,-6}</string>
			<key>spriteSize</key>
			<string>{650,158}</string>
			<key>spriteSourceSize</key>
			<string>{662,170}</string>
			<key>textureRect</key>
			<string>{{3024,228},{650,158}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>gj_worldLogo_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{6,-6}</string>
			<key>spriteSize</key>
			<string>{536,156}</string>
			<key>spriteSourceSize</key>
			<string>{548,168}</string>
			<key>textureRect</key>
			<string>{{3678,228},{536,156}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>GJ_LaunchSheet-uhd.png</string>
		<key>size</key>
		<string>{4218,3120}</string>
		<key>smartupdate</key>
		<string>$none</string>
		<key>textureFileName</key>
		<string>GJ_LaunchSheet-uhd.png</string>
	</dict>
</dict>
</plist>
